@model string

@if (string.IsNullOrWhiteSpace(Model))
{
    <div class="alert-danger alert">Please Add Google Search Key</div>
}
else
{
    <div class="gcse-search"></div>
    <div class="gcse-searchresults" data-gname="storesearch"></div>
    <script async src="https://cse.google.com/cse.js?cx=@Model"></script>
}