@model string

<div>
    <form class="form-inline my-2 my-lg-0" role="search" method="get" action="/search">
        <div class="input-group">
            <input class="form-control" type="search" id="@Model" name="@Model" title="Search" placeholder="Search" aria-label="Search" aria-describedby="Search" required>
            <div class="imput-group-append">
                <button class="btn btn-outline-success " type="submit">Search</button>
            </div>
        </div>
    </form>
</div>