@using MyBlog.Domain.Models.CustomEntities.ContactUs;
@model IEnumerable<MyBlog.Domain.Models.CustomEntities.ContactUs.ContactUs>

@{
    Layout = null;
}

<h1> Feedbacks </h1>
<hr />
@if (Model is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">FullName</th>
                <th scope="col">Email</th>
                <th scope="col">Subject</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.FullName</td>
                    <td>@item.Email</td>
                    <td>@item.Subject</td>
                    <td><a class="btn btn-primary" href="mailto:@item.Email">Send 📨</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>There is no feedback 😁</p>
}
