<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d9780c4-12f3-4a61-a6c9-bb4ecf15fd19" Alias="About" Level="2">
  <Info>
    <Parent Key="4da54c29-6c10-4fd5-a186-b78a59b5bf41">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>about</ContentType>
    <CreateDate>2022-10-12T12:21:30</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b31f6938-c700-46fc-a900-89dedacf1f11">About</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[About Author]]></Value>
    </author>
    <bodyContent>
      <Value><![CDATA[<p>TEST TEst </p>]]></Value>
    </bodyContent>
    <description>
      <Value><![CDATA[About Descrioption]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[0]]></Value>
    </displayOnNavbar>
    <pageBanner>
      <Value><![CDATA[[
  {
    "key": "ec0ef839-8f56-43f4-ac2d-78b1d78fdebf",
    "mediaKey": "fceb4826-f1fb-4923-bfa0-89572d70c1b2"
  }
]]]></Value>
    </pageBanner>
    <subTitle>
      <Value><![CDATA[Sub TITLE ABOUT PAGE]]></Value>
    </subTitle>
  </Properties>
</Content>