<?xml version="1.0" encoding="utf-8"?>
<Content Key="4cbea280-c3df-4a3d-8d36-25506a335377" Alias="About 2" Level="2">
  <Info>
    <Parent Key="4da54c29-6c10-4fd5-a186-b78a59b5bf41">Home</Parent>
    <Path>/Home/About2</Path>
    <Trashed>false</Trashed>
    <ContentType>about</ContentType>
    <CreateDate>2022-10-14T15:24:18</CreateDate>
    <NodeName Default="About 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b31f6938-c700-46fc-a900-89dedacf1f11">About</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[About]]></Value>
    </author>
    <bodyContent>
      <Value><![CDATA[<p>TEst 2 </p>]]></Value>
    </bodyContent>
    <description>
      <Value><![CDATA[About]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[1]]></Value>
    </displayOnNavbar>
    <pageBanner>
      <Value><![CDATA[[]]]></Value>
    </pageBanner>
    <subTitle>
      <Value><![CDATA[About2]]></Value>
    </subTitle>
  </Properties>
</Content>