<?xml version="1.0" encoding="utf-8"?>
<Content Key="3bad0776-2de5-4162-bba8-e949849a12be" Alias="Alaeddin" Level="3">
  <Info>
    <Parent Key="9d3a1eb2-6441-4d40-87c6-69346644c49e">Authors</Parent>
    <Path>/Home/Authors/Alaeddin</Path>
    <Trashed>false</Trashed>
    <ContentType>blogAuthor</ContentType>
    <CreateDate>2023-03-03T12:23:27</CreateDate>
    <NodeName Default="Alaeddin" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="79e6ead5-af17-4a5e-9aad-77fdc4729309">BlogAuthor</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <authorAvatar>
      <Value><![CDATA[[
  {
    "key": "0d705d32-d563-47e3-ac4d-51f8656d23ea",
    "mediaKey": "e82a7eea-0c87-4139-9353-0b39621895df"
  }
]]]></Value>
    </authorAvatar>
    <authorDetails>
      <Value><![CDATA[<p>Bio oooooooooooooo</p>]]></Value>
    </authorDetails>
    <authorName>
      <Value><![CDATA[-1]]></Value>
    </authorName>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[0]]></Value>
    </displayOnNavbar>
    <pageBanner>
      <Value><![CDATA[[
  {
    "key": "40fc2100-de33-46c7-9796-059ef437ad54",
    "mediaKey": "05673176-e3db-45ad-853b-d994033fdb7d"
  }
]]]></Value>
    </pageBanner>
    <socialMedia>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f354ebef07d242a386dcd97fcb9cfc64"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "672d546d-923e-4d9c-a70d-abc58f882f23",
      "udi": "umb://element/f354ebef07d242a386dcd97fcb9cfc64",
      "socialMediaURL": "https://localhost:44390/umbraco#/content/content/edit/1102?doctype=blogAuthor&create=true",
      "target": "[\"_blank\"]",
      "icon": "fa-edge-legacy"
    }
  ],
  "settingsData": []
}]]></Value>
    </socialMedia>
    <subTitle>
      <Value><![CDATA[Alaeddin subtitle]]></Value>
    </subTitle>
  </Properties>
</Content>