<?xml version="1.0" encoding="utf-8"?>
<Content Key="edebbb75-f77f-4c3d-b0d0-d51f80c82053" Alias="Authors" Level="2">
  <Info>
    <Parent Key="6f2eb087-ef6c-49b1-9b08-0232cee9018e">Home</Parent>
    <Path>/Home/Authors</Path>
    <Trashed>false</Trashed>
    <ContentType>authors</ContentType>
    <CreateDate>2023-09-18T20:35:32</CreateDate>
    <NodeName Default="Authors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6ab9d08a-23e3-4c99-b3e8-6c65a0676d42">Authors</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Alaeddin]]></Value>
    </author>
    <description>
      <Value><![CDATA[Azure Blog authors]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[1]]></Value>
    </displayOnNavbar>
    <pageBanner>
      <Value><![CDATA[[
  {
    "key": "f65584fe-6844-4d4c-ab0e-0ca919327720",
    "mediaKey": "1f4af9b5-298b-4479-ba84-c0b1769b80d6"
  }
]]]></Value>
    </pageBanner>
    <subTitle>
      <Value><![CDATA[Azure  Blog authors]]></Value>
    </subTitle>
  </Properties>
</Content>