<?xml version="1.0" encoding="utf-8"?>
<Content Key="3dfc4f4c-fd22-40bc-b702-aa73cee58470" Alias="Author1" Level="3">
  <Info>
    <Parent Key="9d3a1eb2-6441-4d40-87c6-69346644c49e">Authors</Parent>
    <Path>/Home/Authors/Author1</Path>
    <Trashed>false</Trashed>
    <ContentType>blogAuthor</ContentType>
    <CreateDate>2023-03-03T12:24:24</CreateDate>
    <NodeName Default="Author1" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="79e6ead5-af17-4a5e-9aad-77fdc4729309">BlogAuthor</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <authorAvatar>
      <Value><![CDATA[[
  {
    "key": "3c10698f-601f-4df2-8bd5-94f7339745a4",
    "mediaKey": "ead7a7aa-2b13-4c1c-9593-da0f7ac76c68"
  }
]]]></Value>
    </authorAvatar>
    <authorDetails>
      <Value><![CDATA[<p>Biooo</p>]]></Value>
    </authorDetails>
    <authorName>
      <Value><![CDATA[1]]></Value>
    </authorName>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[0]]></Value>
    </displayOnNavbar>
    <pageBanner>
      <Value><![CDATA[[
  {
    "key": "fe4cf167-3123-4f34-beb5-d99f7df60358",
    "mediaKey": "fceb4826-f1fb-4923-bfa0-89572d70c1b2"
  }
]]]></Value>
    </pageBanner>
    <socialMedia>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2011398e83e544678e8283e76a57fa11"
      },
      {
        "contentUdi": "umb://element/878b2ccf748b40d997a547e00abadbfc"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "672d546d-923e-4d9c-a70d-abc58f882f23",
      "udi": "umb://element/2011398e83e544678e8283e76a57fa11",
      "socialMediaURL": "https://localhost:44390/umbraco#/content/content/edit/1102?doctype=blogAuthor&create=true",
      "target": "[\"_parent\"]",
      "icon": "fa-bluetooth"
    },
    {
      "contentTypeKey": "672d546d-923e-4d9c-a70d-abc58f882f23",
      "udi": "umb://element/878b2ccf748b40d997a547e00abadbfc",
      "socialMediaURL": "https://localhost:44390/umbraco#/content/content/edit/1068",
      "target": "[\"_blank\"]",
      "icon": "fa-twitter"
    }
  ],
  "settingsData": []
}]]></Value>
    </socialMedia>
    <subTitle>
      <Value><![CDATA[Subtitle]]></Value>
    </subTitle>
  </Properties>
</Content>