<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f25328c-25b6-4068-88f6-34fe80cd836d" Alias="Azure Blog" Level="2">
  <Info>
    <Parent Key="6f2eb087-ef6c-49b1-9b08-0232cee9018e">Home</Parent>
    <Path>/Home/AzureBlog</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2023-09-18T20:50:39</CreateDate>
    <NodeName Default="Azure Blog" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Alaedin]]></Value>
    </author>
    <description>
      <Value><![CDATA[Azure Blog]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[0]]></Value>
    </displayOnNavbar>
    <numberOfBlogs>
      <Value><![CDATA[3]]></Value>
    </numberOfBlogs>
    <pageBanner>
      <Value><![CDATA[[
  {
    "key": "ad5ba596-e4aa-49a4-a57d-3ad532e4802c",
    "mediaKey": "91d30492-146a-4c3f-a345-14c103e553f7"
  }
]]]></Value>
    </pageBanner>
    <subTitle>
      <Value><![CDATA[Turn your vision into impact with Microsoft Azure]]></Value>
    </subTitle>
  </Properties>
</Content>