<?xml version="1.0" encoding="utf-8"?>
<Content Key="7dfe5d87-dee3-4446-ae8a-a479d51b7976" Alias="Contact Us" Level="2">
  <Info>
    <Parent Key="4da54c29-6c10-4fd5-a186-b78a59b5bf41">Home</Parent>
    <Path>/Home/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUs</ContentType>
    <CreateDate>2023-07-12T21:20:40</CreateDate>
    <NodeName Default="Contact Us" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5d43afd5-92eb-457f-8403-7e0f0038ff76">ContactUs</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyContent>
      <Value><![CDATA[<p>Test Body Content</p>]]></Value>
    </bodyContent>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[1]]></Value>
    </displayOnNavbar>
    <enableEmailFeedback>
      <Value><![CDATA[1]]></Value>
    </enableEmailFeedback>
    <pageBanner>
      <Value><![CDATA[[]]]></Value>
    </pageBanner>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
  </Properties>
</Content>