<?xml version="1.0" encoding="utf-8"?>
<Content Key="52f3f601-9aaf-4818-80d6-e8a1caec9bfb" Alias="Contact Us" Level="2">
  <Info>
    <Parent Key="6f2eb087-ef6c-49b1-9b08-0232cee9018e">Home</Parent>
    <Path>/Home/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUs</ContentType>
    <CreateDate>2023-09-18T21:07:07</CreateDate>
    <NodeName Default="Contact Us" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5d43afd5-92eb-457f-8403-7e0f0038ff76">ContactUs</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Azure Blog]]></Value>
    </author>
    <bodyContent>
      <Value><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Feugiat pretium nibh ipsum consequat nisl vel pretium. Vitae turpis massa sed elementum tempus egestas sed. Ultrices tincidunt arcu non sodales neque. Etiam sit amet nisl purus in mollis nunc. Id leo in vitae turpis massa.<span> </span></p>
<p> </p>]]></Value>
    </bodyContent>
    <description>
      <Value><![CDATA[contact us ]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[1]]></Value>
    </displayOnNavbar>
    <enableEmailFeedback>
      <Value><![CDATA[1]]></Value>
    </enableEmailFeedback>
    <pageBanner>
      <Value><![CDATA[[
  {
    "key": "6f62cd7a-1275-41be-9868-05987f0e9db9",
    "mediaKey": "d16149d9-a021-4e5d-822c-9fc533eafdfc"
  }
]]]></Value>
    </pageBanner>
    <subTitle>
      <Value><![CDATA[Don't hesitate ]]></Value>
    </subTitle>
  </Properties>
</Content>