<?xml version="1.0" encoding="utf-8"?>
<Content Key="40ef1a06-7156-498f-bb05-6f07bb4e97e8" Alias="Error Page" Level="2">
  <Info>
    <Parent Key="6f2eb087-ef6c-49b1-9b08-0232cee9018e">Home</Parent>
    <Path>/Home/ErrorPage</Path>
    <Trashed>false</Trashed>
    <ContentType>errorPages</ContentType>
    <CreateDate>2023-09-18T20:49:19</CreateDate>
    <NodeName Default="Error Page" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3bdb19d5-497d-4098-8bc9-1c9f740c1254">ErrorPages</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Alaeddin]]></Value>
    </author>
    <description>
      <Value><![CDATA[Error page]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[0]]></Value>
    </displayOnNavbar>
    <pageBanner>
      <Value><![CDATA[[
  {
    "key": "a6139229-564e-45b8-ae2d-927d39a95b2d",
    "mediaKey": "3f5f5566-8e00-4436-bc43-f9ffc056693b"
  }
]]]></Value>
    </pageBanner>
    <subTitle>
      <Value><![CDATA[Error, But not 4 ever]]></Value>
    </subTitle>
  </Properties>
</Content>