<?xml version="1.0" encoding="utf-8"?>
<Content Key="24d00d94-b4b0-4f3c-8111-f9c741a44c4f" Alias="Error Page" Level="2">
  <Info>
    <Parent Key="4da54c29-6c10-4fd5-a186-b78a59b5bf41">Home</Parent>
    <Path>/Home/ErrorPage</Path>
    <Trashed>false</Trashed>
    <ContentType>errorPages</ContentType>
    <CreateDate>2023-08-28T15:08:07</CreateDate>
    <NodeName Default="Error Page" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3bdb19d5-497d-4098-8bc9-1c9f740c1254">ErrorPages</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[0]]></Value>
    </displayOnNavbar>
    <pageBanner>
      <Value><![CDATA[[]]]></Value>
    </pageBanner>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
  </Properties>
</Content>