<?xml version="1.0" encoding="utf-8"?>
<Content Key="4da54c29-6c10-4fd5-a186-b78a59b5bf41" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-10-12T12:20:24</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3f35c2f7-69dd-4302-af40-b43a9d574064">Home</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[Me Me  Home]]></Value>
    </author>
    <description>
      <Value><![CDATA[Something here  Home]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[0]]></Value>
    </displayOnNavbar>
    <footerLinks>
      <Value><![CDATA[[
  {
    "name": "About",
    "udi": "umb://document/5d9780c412f34a61a6c9bb4ecf15fd19"
  },
  {
    "name": "About 2",
    "udi": "umb://document/4cbea280c3df4a3d8d3625506a335377"
  },
  {
    "name": "Authors",
    "udi": "umb://document/9d3a1eb264414d4087c669346644c49e"
  }
]]]></Value>
    </footerLinks>
    <logo>
      <Value><![CDATA[[
  {
    "key": "2f8aaf58-d073-4867-bed7-2bd8333d3c8f",
    "mediaKey": "ead7a7aa-2b13-4c1c-9593-da0f7ac76c68"
  }
]]]></Value>
    </logo>
    <pageBanner>
      <Value><![CDATA[[
  {
    "key": "75789cea-743b-414a-ba11-f6b84e7b0c18",
    "mediaKey": "329db344-d9db-4cd4-ab47-de19f0a02707"
  }
]]]></Value>
    </pageBanner>
    <siteName>
      <Value><![CDATA[MyBlog]]></Value>
    </siteName>
    <soicalMediaPicker>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/98e25a0ccb6e4dd29d8510bddbd636a0"
      },
      {
        "contentUdi": "umb://element/32b0e324d14644c08187a062a0009c93"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "672d546d-923e-4d9c-a70d-abc58f882f23",
      "udi": "umb://element/98e25a0ccb6e4dd29d8510bddbd636a0",
      "socialMediaURL": "https://localhost:44390/umbraco#/content/content/edit/1068",
      "icon": "fa-bootstrap",
      "target": "[\"_self\"]"
    },
    {
      "contentTypeKey": "672d546d-923e-4d9c-a70d-abc58f882f23",
      "udi": "umb://element/32b0e324d14644c08187a062a0009c93",
      "socialMediaURL": "https://localhost:44390/umbraco#/content/content/edit/1068",
      "target": "[\"_blank\"]",
      "icon": "fa-meetup"
    }
  ],
  "settingsData": []
}]]></Value>
    </soicalMediaPicker>
    <subTitle>
      <Value><![CDATA[Sub Sub title]]></Value>
    </subTitle>
  </Properties>
</Content>