<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c1bd96e-0898-4712-9d5e-69faa194d1c7" Alias="Search" Level="2">
  <Info>
    <Parent Key="4da54c29-6c10-4fd5-a186-b78a59b5bf41">Home</Parent>
    <Path>/Home/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>search</ContentType>
    <CreateDate>2023-03-16T12:11:34</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="43d66608-9108-4f17-9062-323df022ffa2">Search</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[0]]></Value>
    </displayOnNavbar>
    <enableGoogleSearch>
      <Value><![CDATA[1]]></Value>
    </enableGoogleSearch>
    <googleCustomSearchApiKey>
      <Value><![CDATA[e0e244d4f3ca64398]]></Value>
    </googleCustomSearchApiKey>
    <pageBanner>
      <Value><![CDATA[[
  {
    "key": "079a2641-7727-4168-9c0a-b274f147f6d1",
    "mediaKey": "fceb4826-f1fb-4923-bfa0-89572d70c1b2"
  }
]]]></Value>
    </pageBanner>
    <subTitle>
      <Value><![CDATA[Search Page]]></Value>
    </subTitle>
  </Properties>
</Content>