<?xml version="1.0" encoding="utf-8"?>
<Content Key="90da1345-af47-498f-a24f-63e208802af6" Alias="Umbraco 11" Level="3">
  <Info>
    <Parent Key="6f25328c-25b6-4068-88f6-34fe80cd836d">Azure Blog</Parent>
    <Path>/Home/AzureBlog/Umbraco11</Path>
    <Trashed>false</Trashed>
    <ContentType>post</ContentType>
    <CreateDate>2023-09-18T21:00:05</CreateDate>
    <NodeName Default="Umbraco 11" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="760040ff-94af-473e-bbb8-5798c19943c4">Post</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[John]]></Value>
    </author>
    <authorPageUrl>
      <Value><![CDATA[umb://document/19a1c749949547fa953706e9473ca747]]></Value>
    </authorPageUrl>
    <blogContent>
      <Value><![CDATA[<div class="blogpost-teaser">
<p>Umbraco 12 is a major release that introduces new features like the Content Delivery API for headless capabilities, support for Entity Framework Core, and an updated version of ImageSharp for improved image processing. The release also updates other dependencies and introduces new versions of all add-ons Umbraco Forms, Deploy, and Workflow. Umbraco 12 is faster, better, headless, and available right now!</p>
</div>]]></Value>
    </blogContent>
    <description>
      <Value><![CDATA[Umbraco 12]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[0]]></Value>
    </displayOnNavbar>
    <pageBanner>
      <Value><![CDATA[[
  {
    "key": "2f9943fb-0155-4b6e-88ad-2a1240d3b225",
    "mediaKey": "c00c25a0-a406-43d1-ba1f-48cce251f9eb"
  }
]]]></Value>
    </pageBanner>
    <subTitle>
      <Value><![CDATA[Umbraco 11 Release, The latest version of Umbraco on .NET 6 (ASP.NET Core 6)]]></Value>
    </subTitle>
  </Properties>
</Content>