@model MyBlog.Domain.Models.ViewComponentModels.FooterView

<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                   @foreach (var item in Model?.SocialMedias)
                    {
                        <li class="list-inline-item">
                            <a href="@item?.SocialMediaUrl" target="@item?.Target">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab @item?.Icon fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    }
                </ul>
                <div class="text-center mb-2">
                    @foreach (var item in Model?.FooterLinks)
                    {
                        <a href="@item.Url" target="@item?.Target" title="@item?.Name">@item?.Name @(item?.Name == Model.FooterLinks.Last().Name ? "" : "|")  </a>
                    }
                </div>
                <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website @DateTime.Now.Year</div>
            </div>
        </div>
    </div>
</footer>