<?xml version="1.0" encoding="utf-8"?>
<Media Key="fceb4826-f1fb-4923-bfa0-89572d70c1b2" Alias="360 F 467930172 Rdghbpu1eb1ksit2xkjdcmxzp8jmgrlq" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/F467930172Rdghbpu1eb1ksit2xkjdcmxzp8jmgrlq</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-12T14:35:55</CreateDate>
    <NodeName Default="360 F 467930172 Rdghbpu1eb1ksit2xkjdcmxzp8jmgrlq" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ebeox5h1/360_f_467930172_rdghbpu1eb1ksit2xkjdcmxzp8jmgrlq.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>