<?xml version="1.0" encoding="utf-8"?>
<Media Key="d16149d9-a021-4e5d-822c-9fc533eafdfc" Alias="360 F 352116278 Wpylkpfzejb0mcsgdvutgwtehbfnjnsg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/F352116278Wpylkpfzejb0mcsgdvutgwtehbfnjnsg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-18T21:06:13</CreateDate>
    <NodeName Default="360 F 352116278 Wpylkpfzejb0mcsgdvutgwtehbfnjnsg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/13ehdujb/360_f_352116278_wpylkpfzejb0mcsgdvutgwtehbfnjnsg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>