<?xml version="1.0" encoding="utf-8"?>
<Media Key="f3b64615-2abe-4758-a4a8-f50852615771" Alias="Azure" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Azure</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-18T20:30:36</CreateDate>
    <NodeName Default="Azure" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cndln234/azure.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>