<?xml version="1.0" encoding="utf-8"?>
<Media Key="38070a7e-b8d1-4ff0-afda-06e1c9d72518" Alias="Azure Cloud Banner" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AzureCloudBanner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-18T20:52:00</CreateDate>
    <NodeName Default="Azure Cloud Banner" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pafaoogr/azure-cloud-banner.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>