<?xml version="1.0" encoding="utf-8"?>
<Media Key="329db344-d9db-4cd4-ab47-de19f0a02707" Alias="Blue Wallpaper Png Favpng Vam3ba434ci8franyeyfckkau" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BlueWallpaperPngFavpngVam3ba434ci8franyeyfckkau</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-13T13:47:27</CreateDate>
    <NodeName Default="Blue Wallpaper Png Favpng Vam3ba434ci8franyeyfckkau" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ikzj0mw1/blue-wallpaper-png-favpng-vam3ba434ci8franyeyfckkau.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>