<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f5f5566-8e00-4436-bc43-f9ffc056693b" Alias="Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Images</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-18T20:49:02</CreateDate>
    <NodeName Default="Images" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mbkf4pya/images.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>