<?xml version="1.0" encoding="utf-8"?>
<Media Key="913f243d-fe6e-401b-89d3-405b1c279249" Alias="Search" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-18T20:46:00</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hmsd5elo/search.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>