<?xml version="1.0" encoding="utf-8"?>
<Media Key="05673176-e3db-45ad-853b-d994033fdb7d" Alias="TEST BANNER" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TESTBANNER</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-11T17:41:29</CreateDate>
    <NodeName Default="TEST BANNER" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/oayhobo1/test-banner.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>