<?xml version="1.0" encoding="utf-8"?>
<Media Key="c00c25a0-a406-43d1-ba1f-48cce251f9eb" Alias="Umbraco 12 Content Delivery Top Hero 1500X500px 2X 80" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Umbraco12ContentDeliveryTopHero1500X500px2X80</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-18T20:59:48</CreateDate>
    <NodeName Default="Umbraco 12 Content Delivery Top Hero 1500X500px 2X 80" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uysbzqag/umbraco-12-content-delivery-top-hero_1500x500px-2x-80.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>