<?xml version="1.0" encoding="utf-8"?>
<Media Key="db9b7318-2a76-4f60-9233-b5b70f2d90dd" Alias="Umbracobanner" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Umbracobanner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-18T20:35:20</CreateDate>
    <NodeName Default="Umbracobanner" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dzzjxw1w/umbracobanner.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>