<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ebd9d702-1062-41a2-be1e-151a93e1c5e7" Alias="authors" Level="2">
  <Info>
    <Name>Authors</Name>
    <Icon>icon-users-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Authors</Folder>
    <Compositions>
      <Composition Key="6998b252-9b4e-456f-b769-fae8f45ca776">page</Composition>
    </Compositions>
    <DefaultTemplate>Authors</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6ab9d08a-23e3-4c99-b3e8-6c65a0676d42">Authors</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4574ace5-51bf-48de-ab36-888f91c5572b" SortOrder="0">blogAuthor</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>