<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d36ae2c5-bd8e-4603-a2bb-e7cc552b3428" Alias="errorPages" Level="2">
  <Info>
    <Name>Error Pages</Name>
    <Icon>icon-application-error color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Admin+Pages</Folder>
    <Compositions>
      <Composition Key="6998b252-9b4e-456f-b769-fae8f45ca776">page</Composition>
    </Compositions>
    <DefaultTemplate>ErrorPages</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3bdb19d5-497d-4098-8bc9-1c9f740c1254">ErrorPages</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>