<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6b59005f-5089-4349-80d7-8cf513924e71" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Home Page</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="25ffe73d-5a95-4713-80d2-c712f240dda1">layout</Composition>
      <Composition Key="6998b252-9b4e-456f-b769-fae8f45ca776">page</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3f35c2f7-69dd-4302-af40-b43a9d574064">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="830d1f62-c1f0-4d23-b5f2-0f2ae04b5826" SortOrder="0">about</ContentType>
    <ContentType Key="25dd44fa-622f-41a0-8a3e-80a4af4f1c25" SortOrder="1">blog</ContentType>
    <ContentType Key="ebd9d702-1062-41a2-be1e-151a93e1c5e7" SortOrder="2">authors</ContentType>
    <ContentType Key="7705d20f-ffcb-4a21-b639-2d52c19c4f93" SortOrder="3">search</ContentType>
    <ContentType Key="37d145d9-004b-4b63-858a-3fec0171ddd6" SortOrder="4">contactUs</ContentType>
    <ContentType Key="d36ae2c5-bd8e-4603-a2bb-e7cc552b3428" SortOrder="5">errorPages</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>afd24c97-d3ce-4ae2-99c7-3f4c7b350658</Key>
      <Name>Soical Media Picker</Name>
      <Alias>soicalMediaPicker</Alias>
      <Definition>17767fb9-8c94-436b-bf4d-33870ef6c13d</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="layoutSettings/footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>577cf289-6830-4e3f-b038-2984f7c9ac81</Key>
      <Caption>Footer</Caption>
      <Alias>layoutSettings/footer</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>