@model MyBlog.Domain.Models.ViewComponentModels.MetaDataView

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="@Model?.Description" />
<meta name="author" content="@Model?.Author" />
<title>@Model?.Title</title>
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />