<?xml version="1.0" encoding="utf-8"?>
<DataType Key="26b8c6ef-8407-44a9-a27f-9cf6fd95cc70" Alias="Blog Author - Author Name - User Picker" Level="1">
  <Info>
    <Name>Blog Author - Author Name - User Picker</Name>
    <EditorAlias>Umbraco.UserPicker</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>