<!DOCTYPE html>
<html lang="en">
<head>  
    <vc:meta-data/>   
   <partial name="Bundles/_StyleSheetBundles" />
</head>
<body>
    <!-- Navigation-->
     <vc:nav-bar/>
    <!-- Page Header-->
    <vc:header/>
    @RenderBody()
    <!-- Footer-->
    <vc:footer/>
  <partial name="Bundles/_JavaScriptBundles"/>
</body>
</html>
